@font-face {
    font-family: 'StoryTime';
    src: url(../Fonts/Storytime.ttf) format('truetype');
  }

#Layer {
    height: 100vh;
    width: 100vw;
}

#Content {
    height: 55%;
    width: 55%;
}
/* 
#Content::before {
    content: "";
    position: absolute;
    height: 55%;
    width: 55%;
    background-image: url('../Template/memory-game.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
} */

#Bubble {
    width: 50%;
    line-height: 1.8;
}

#gitLink>a {
    font-family: StoryTime;
    color: white;
    border: 2px solid red;
    padding: 0.5em 1.5em;
}

#gitLink {
    overflow: visible;
}

#topBtn {
    font-family: Techno;
    color: white;
    background-color: transparent;
    border: none;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0.5em 1em;

}



h2 {
    font-family: StoryTime;
    color:  black;
    font-size: 2em;
}
p {
    color: black;
}

@media screen and (min-width: 720px) {
    #Content {
        height: 50%;
        border-radius: 50%;
    }
    #gitLink>a {
        font-size: larger;
    }
}


@media screen and (min-width: 1000px) {
    #Content {
        height: 60%;
    }
}

@media screen and (min-width: 1224px) {
    #Content {
        height: 70%;
    }
    #gitLink>a {
        font-size: x-large;
    }
}

@media screen and (min-width: 1400px) {
    #Content {
        width: 40%;
    }
}
