
header, footer {
    height: 19vh;
    color: white;
}

h1, #PortfolioMain{
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#Title {
    margin-top: 5rem;
}

a {
    text-decoration: none;
    color: inherit;
}


#blockBorder {
    display: block;
    margin: auto;
}

#Border {
    width: 100%;
}

#PortfolioMain {
    height: 60vh;
    font-size: 110%;
}

#PortfolioContent {
    margin-top: 2em;
}

header>h1 {
    font-size: 4em;
    font-family: Blade;

}

#SubTitle {
    font-size: 120%;
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid white;
}

#Name {
    font-size: 300%;
    font-family: Blade;
}


footer>ul>li {
    list-style-type: none;
}

footer>ul {
    margin-right: 1em;
}

footer>a {
    margin-top: 6em;
    margin-left: 3rem;
    text-decoration: none;
    color: inherit;
    font-size: large;
}

footer>a:hover {
    color: inherit;
    border-bottom: 1px solid white;
}

.Images {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.roundCard {
    width: 150px;
    height: 150px;
    border: 5px solid #6A5334;
    border-radius: 50%;
    transition: 0s;
    background-color: transparent;

}

.links{
    font-size: 150%;
    color: white;
}

.links:hover {
    color: white;
}


.roundCard:hover {
    box-shadow: rgb(179, 176, 176) 0px 4px 16px, rgb(204, 204, 204) 0px 8px 24px, rgb(175, 174, 174) 0px 16px 56px;
    color: inherit;
    position: relative;
    bottom: 10px;
    transition: 0.5s;
}

.Icons{
    font-size: 150%;
    display: block;
}

/* -------------------------------------  Projets -------------------------------------------- */

/* .backBtn {
    
} */

.cards {
    padding: 3em 0 3em 0;
    border: 2px solid black;
    transition: 0s;


}

.cards:hover {
    /* border-top-left-radius: 30%; */
    transition: 1s;

}

.clicked {
    transform: rotate3d(1, 0, 0, 360deg); 
    transition: 1s;
    
}

/* .hide {
    
} */

#ProjetsTitle {
    background-image: url('./header-background.png');
    background-repeat: round;
    background-size: cover;
    background-position: top;
}

#Memory {
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('./memory-game.jpg')round;
   background-size:cover;
   color: white;
   box-sizing: border-box;
}

#Bank {
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('./banque-france.jpg')round;
   background-size:cover; 
    color: white;
}

#Pendu {
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('./pendu.jpg')round;
   background-size:cover; 
    color: white;
}

#React {
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('./640px-React_Native_Logo.png')round;
   background-size:cover; 
    color: white;
}

#Geek {
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('./laptop.png')round;
   background-size:cover; 
    color: white;
}

#ProjetsFoot {
    background-color: lightgray;
}

/* ---------------------------------  Media Qyeries   ------------------------------------- */

@media screen and (min-width: 576px) {
    .cards {
        padding: 4em 0 4em 0;
    }
}

@media screen and (min-width: 1024px) {
    .roundCard {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 700%!important;
    }

    #PortfolioContent {
        margin-top: 5em;
    }
    #SubTitle {
        font-size: 150%;
        border-bottom: 2px solid white;
    }
    #Name {
        font-size: 400%;
    }
    footer>ul>li {
        margin: 0 2em 0 2em;
    }
    .links{
        font-size: 200%;
    }

    footer>a {
        margin-top: inherit;
        margin-left: 10em;
    }

    .CopyRight {
        margin-left: 5em;
    }
}

/* $("h1").css({"font-size":"900%"});
    $("footer").children("ul").children("li").css({"font-size": "200%"});
    $("links").css({"font-size":"200%"});
    $("#SubTitle").css({"font-size":"150%","border-bottom":"2px solid white"});
    $("#Name").css({"font-size":"400%"}); */

/* #Rain {
    position: absolute;
    width: 100%;
    animation: rain 2s linear infinite;
    z-index: 0;
    opacity: 0.4;
} */







/* #Rain::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: lighting 3s linear infinite;
    opacity: 0;

} */

/* @keyframes rain1 {
    0% {
        bottom: 0%;
    }
    
} */

/* @keyframes rain {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 0%;
    }
} */

