* {
    color: white;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

header {
    font-family: Techno;
    height: 15vh;
}

h1 {
    font-size: 2.5rem;
    color: red;
}

.Icons {
    font-size: 1.5em;
}

main {
    height: 70vh;
    color: red;
}


.links {
    font-family: Techno;
    border: 20px solid transparent;
    padding: 1em 2rem;
    border-image: url('../Projets/tech-frame-transparent-background.png') 80 round;
}

.links:hover {
    color: inherit;
}

footer>div>p {
    color: white;
}

#Contact>a {
    height: 250px;
    width: 140.59px;
}

/* #Contact {
    position: absolute;
    top: 26%;
    left: 0px;
    transform: rotate3d(1,2,0,45deg);
    animation: flyText 15s linear infinite;
} */

#Contact {
    background-color: transparent;
}

#Spaceship {
    position: absolute;
    top: 20%;
    z-index: -1;
    animation: fly 20s linear infinite;
    left: 0px;
}

@keyframes fly {
    0% {
        left: -20%;
    }
    100% {
        left: 100vw;
    }
}

/* @keyframes flyText {
    0% {
        left: 8vw;
    }
    100% {
        left: 120%;
    }
} */

/* @keyframes fly {
    0% {
        left: 10vw;
    }

    20% {
        left: 80vw;
        transform: rotate(0deg);
    }

    25% {
        top: 10vh;
        transform: rotate(90deg);
    }

    45% {
        right: 10vw;
        top: 80vh;
        transform: rotate(90deg);
    }

    50% {
        bottom: 10vh;
        transform: rotate(180deg);
    }

    75% {
        bottom: 10vh;
        right: 80vw;
        transform: rotate(180deg);
    }

    80% {
        transform: rotate(270deg);
    }

    95% {
        bottom: 80vh;
        transform: rotate(270deg);
    }

    100% {
        left: 10vh;
        transform: rotate(360deg);
    } */


    /* 22% {
        left: 90vw;
    } */

    /* 22%,25% {
        left: 90vw;
        transform: rotate(90deg);
    }

    48% {
        top: 90vh;
    }
    48%,51% {
        transform: rotate(90deg);
    }
    74%{
        right: 90vw;
    }
    74%,77% {
        transform: rotate(90deg);
    }
    97% {
        bottom: 90vh;
    }
    97%,100% {
        transform: rotate(90deg);
    } */


    /* 45%,50% {
        transform: rotate(90deg);
    } */

    /* 100% {
        left: 80vw;
    } */


/* @keyframes flyText {
    0% {
        left: 0px;
    }
    100% {
        left: 100%;
    }
} */

@media screen and (min-width: 720px) {

    h1 {
        font-size: 3rem;
    }

    .links {
        font-size: larger;
        padding: 0.5em 3em;
    }
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }
    .links {
        font-size: x-large;
        padding: 0.5em 4em;
    }
}